/vendor/
/resources/vendor/
node_modules/
bower_components/
composer.lock

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

_ide_helper.php
/.idea
/public/appfiles

# Php cs fixer cache
.php_cs.cache

# Vim and Ctags
tags
tags.lock
tags.temp
storage/cte/captura-cte.log
storage/nfe/captura-nfe.log
storage/nfe/producao/temporarias/201707/-downnfe.xml
storage/nfe/producao/temporarias/201707/-retDownnfe.xml
storage/nfe/producao/temporarias/201708/-downnfe.xml
storage/nfe/producao/temporarias/201708/-retDownnfe.xml
bildsys.sql
*.sublime-project
*.sublime-workspace
